<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{wc:fun:lang::get_lang('支付')}_{wc:fun:_cfg("web_name")}</title>
<meta name="keywords" content="{wc:if isset($keywords)}{wc:$keywords}{wc:else}{wc:fun:_cfg("web_key")}{wc:if:end}" />
<meta name="description" content="{wc:if isset($description)}{wc:$description}{wc:else}{wc:fun:_cfg("web_des")}{wc:if:end}" />

<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/index.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/comm.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/color.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/css.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/mycart.css"/>

<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/user.message.css"/>
<script type="text/javascript" src="{G_GLOBAL_STYLE}/global/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{G_TEMPLATES_STYLE}/js/jquery.cookie.js"></script>
<style>
.yeepay_bank img{ border:1px solid #eee; padding:2px; width:130px; height:35px; }
</style>
</head>
<body>
<div class="logo">
	<div class="float">
		<span class="logo_pic"><a href="{WEB_PATH}" class="a" title="{wc:fun:_cfg("web_name")}">
			<img src="{G_UPLOAD_PATH}/{wc:fun:Getlogo()}"/>
		</a></span>
		<span class="tel"><a href="{WEB_PATH}" style="color: #999;">{wc:fun:lang::get_lang('返回首页')}</a></span>
	</div>
</div>
<form id="form_paysubmit" action="{WEB_PATH}/{ROUTE_M}/{ROUTE_C}/paysubmit" method="post">
<div class="shop_payment">
	<ul class="payment">
		<li class="first_step">{wc:fun:lang::get_lang('第一步')}:{wc:fun:lang::get_lang('提交订单')}</li>
		<li class="arrow_1"></li>
		<li class="secend_step orange_Tech">{wc:fun:lang::get_lang('第二步')}：{wc:fun:lang::get_lang('订单支付')}</li>
		<li class="arrow_3"></li>
		<li class="third_step">{wc:fun:lang::get_lang('第三步')}：{wc:fun:lang::get_lang('支付成功等待揭晓')}</li>
		<li class="arrow_2"></li>
		<li class="fourth_step">{wc:fun:lang::get_lang('第四步')}:{wc:fun:lang::get_lang('揭晓获得者')}</li>
	</ul>
	<div class="payment_Con">
		<ul class="order_list">
			<li class="top">
				<span class="name">{wc:fun:lang::get_lang('商品名称')}</span>
				<span class="moneys">{wc:fun:lang::get_lang('次数')}</span>
				<span class="money">{wc:fun:lang::get_lang('单价')}</span>
				<span class="num1">{wc:fun:lang::get_lang('人次')}</span>
				<span class="all">{wc:fun:lang::get_lang('我的次数')}</span>
			</li>           
			{wc:loop $shoplist $shops}
			<li class="end">
				<span class="name">
               		<a class="blue" href="{WEB_PATH}/goods/{wc:$shops['id']}">{wc:if $this->_cfg['route_l'] == 'en-us'}{wc:$shops['titleen']}{wc:else}{wc:$shops['title']}{wc:if:end}</a>
                </span>
				<span class="moneyss">{wc:$shops['money']}</span>
				<span class="moneyss"><span class="color"><b>{wc:$shops['yunjiage']}</b>{wc:fun:lang::get_lang('1Shop币')}</span></span>
				<span class="num1 orange Fb">{wc:$shops['cart_gorenci']}</span>
				<span class="alls">{wc:$shops['cart_xiaoji']}</span>
			</li>
			{wc:loop:end}           
			<li class="payment_Total">
				<div class="payment_List_Lc"><a href="{WEB_PATH}/member/cart/cartlist" class="form_ReturnBut">{wc:fun:lang::get_lang('返回购物车')}</a></div>
				<p class="payment_List_Rc">{wc:fun:lang::get_lang('商品合计')}：<span class="orange F20">{wc:$MoenyCount}</span>{wc:fun:lang::get_lang('1Shop币')}</p>
			</li>
			
            {wc:if $fufen_dikou}
			 <li id="liPayByPoints" class="point_out">
					<div class="payment_List_Lc">
					<input type="checkbox" class="input_choice" id="shop_score" name="shop_score" value="1"/>{wc:fun:lang::get_lang('使用积分抵扣现金')}:{wc:fun:lang::get_lang('您的积分')}({wc:$member['score']}){wc:fun:lang::get_lang('本次消费最多可抵扣现金')}
                    <span class="orange Fb">{wc:$fufen_dikou}</span>{wc:fun:lang::get_lang('1Shop币')},{wc:fun:lang::get_lang('我要使用')} 
                    <input type="text" maxlength="8" class="pay_input_text_gray" id="shop_score_num" value="0" money="{wc:$fufen['fufen_yuan']}" name="shop_score_num"/> {wc:fun:lang::get_lang('积分')}, 1{wc:fun:lang::get_lang('1Shop币')} = {wc:$fufen['fufen_yuan']} {wc:fun:lang::get_lang('积分')}</div>
                    <p id="pPointsTip" class="pay_Value" style="display:none;"></p>
                    <p class="payment_List_Rc"></p>
             </li>
             {wc:else}
              <li id="liPayByPoints" class="point_out point_gray">
					<div class="payment_List_Lc">
					<input type="checkbox" class="input_choice" disabled="disabled"/>{wc:fun:lang::get_lang('使用积分抵扣现金')}:{wc:fun:lang::get_lang('您的积分')}({wc:$member['score']}){wc:fun:lang::get_lang('本次消费最多可抵扣现金')}
                    <span class="orange Fb">{wc:$fufen_dikou}</span>{wc:fun:lang::get_lang('1Shop币')},{wc:fun:lang::get_lang('我要使用')} 
                    <input type="text" maxlength="8" class="pay_input_text_gray" name="costPoint"  disabled="disabled"/> {wc:fun:lang::get_lang('积分')}</div>
                    <p id="pPointsTip" class="pay_Value" style="display:none;"></p>
                    <p class="payment_List_Rc"></p>
              </li>
             {wc:if:end}
			<li class="point_in" id="liPayByBalance">
				<div class="payment_List_Lc">					
					<input type="checkbox" name="moneycheckbox" id="MoneyCheckbox" class="input_choice"/>{wc:fun:lang::get_lang('使用账户余额支付')}，{wc:fun:lang::get_lang('账户余额')}：
					<span class="green F18">{wc:$Money}</span>{wc:fun:lang::get_lang('1Shop币')}
				</div>
				<p style="" class="pay_Value" id="pBalanceTip">
				<span>{wc:fun:lang::get_lang('◆')}</span><em>{wc:fun:lang::get_lang('◆')}</em>{wc:fun:lang::get_lang('账户余额支付更快捷')}，
				<a class="blue" target="_blank" href="{WEB_PATH}/member/home/userrecharge">{wc:fun:lang::get_lang('立即充值')}</a></p>
				<p class="payment_List_Rc">{wc:fun:lang::get_lang('余额支付')}：<span id="pay_money" class="orange F20">0.00</span> {wc:fun:lang::get_lang('1Shop币')}</p>
			</li>
		
			<li id="liPayByOther" class="point_in point_bank" style="display:list-item;">
				<div class="payment_List_Lc gary01 Fb">{wc:fun:lang::get_lang('您的账户余额不足')},<a class="blue" target="_blank" href="{WEB_PATH}/member/home/userrecharge">{wc:fun:lang::get_lang('立即充值')}</a></div>

				<div class="payment_List_Lc gary01 Fb" style=" color:#f60;">{wc:fun:lang::get_lang('11Shop币等于1元')}</div>
			</li>
			
            
		</ul>
	</div>

    <div class="payment_but" style="margin:15px 0 0 0;">
			<input type="hidden" name="submitcode" value="{wc:$submitcode}">
			<input type="submit" id="submit_ok" class="shop_pay_but" name="submit" value="{wc:fun:lang::get_lang('确认支付')}">
	</div>
	</div>
</form>

<script>
$(function(){
	var info={'money':{wc:$Money},'MoenyCount':{wc:$MoenyCount},"shoplen":{wc:$shoplen}};
	if(info['money'] >= info['MoenyCount']){
		$("#divBankList").hide();
		$("#liPayByOther").hide();
		$("#MoneyCheckbox").attr("checked",true);
		$("#MoneyCheckbox").attr("disabled",true);
		$("#pay_money").text(info['MoenyCount']+'.00');
	}
	
	if(info['money']==0){
			$("#liPayByBalance").addClass("point_gray");
			$("#MoneyCheckbox").attr("disabled",true);
	}
	if(info['money'] < info['MoenyCount']){		
		$("#MoneyCheckbox").attr("checked",true);
		$("#pay_money").text(info['money']+'.00');
		$("#pay_bankmoney").text(info['MoenyCount']-info['money']+'.00');
		$("#MoneyCheckbox").click(function(){
			if(this.checked){
				$("#pay_money").text(info['money']+'.00');
				$("#pay_bankmoney").text(info['MoenyCount']-info['money']+'.00');
			}else{
				$("#pay_money").text('0.00');
				$("#pay_bankmoney").text(info['MoenyCount']+'.00');	
			} 
		});
	}
	
	$("#shop_score_num").blur(function(){
			var fufen = parseInt($(this).val());
			var money = parseInt($(this).attr("money"));
			$(this).val(Math.floor(fufen/money)*money);			
	});
	
	$("#submit_ok").click(function(){	
		if(!this.cc){
			this.cc = 1;		
			return true;
		}else{		
			return false;
		}		
		return false;
	});
	
	

	$("input[type=radio][checked]").val();
	$(".click_img li>img").click(function(){			
			$(this).prev().attr("checked",'checked');
	});
	
});

$(document).ready(function(){ 		
	$("#btnCXK").click(function(){	
		$("#divbtnXYK").hide();
		$("#divbtnCXK").show();
		$("#btnXYK").removeClass("tab_btn_hover");
		$("#btnCXK").addClass("tab_btn_hover");
	});
	$("#btnXYK").click(function(){	
		$("#divbtnCXK").hide();
		$("#divbtnXYK").show();
		$("#btnCXK").removeClass("tab_btn_hover");
		$("#btnXYK").addClass("tab_btn_hover");
	});
});
</script>
{wc:templates "index","footer"}