<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{wc:fun:lang::get_lang('支付')}_{wc:fun:_cfg("web_name")}</title>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_CSS}/index.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/mycart.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/comm.css"/>
<script type="text/javascript" src="{G_TEMPLATES_STYLE}/js/JQuery.js"></script>
<script type="text/javascript" src="{G_TEMPLATES_STYLE}/js/jquery.cookie.js"></script>
</head>
<body>
<input name="hidLogined" type="hidden" id="hidLogined" value="0">
<div class="logo">
	<div class="float">
		<span class="logo_pic"><a href="{WEB_PATH}" class="a" title="{wc:fun:_cfg("web_name")}">
			<img src="{G_UPLOAD_PATH}/{wc:fun:Getlogo()}"/>
		</a></span>
		<span class="tel"><a href="{WEB_PATH}" style="color: #999;">{wc:fun:lang::get_lang('返回首页')}</a></span>
	</div>
</div>
<div class="shop_payment">
        <ul class="payment">
           <li class="first_step">{wc:fun:lang::get_lang('第一步：提交订单')}</li>
            <li class="arrow_2"></li>
            <li class="secend_step">{wc:fun:lang::get_lang('第二步：订单支付')}</li>
            <li class="arrow_1"></li>
            <li class="third_step orange_Tech">{wc:fun:lang::get_lang('第三步：支付成功')} {wc:fun:lang::get_lang('等待揭晓')}</li>
            <li class="arrow_3"></li>
            <li class="fourth_step">{wc:fun:lang::get_lang('第四步：揭晓获得者')}</li>
            <!-- <li class="arrow_2"></li>
            <li class="fifth_step">{wc:fun:lang::get_lang('第五步：晒单奖励')}</li> -->
        </ul>
		<div id="divResult" class="wait_list hidden" style="display: block;">
			<div class="wait_list_tips ">
			<dl>
				<dt><img src="{G_TEMPLATES_STYLE}/images/login_exp04.png" border="0" alt=""></dt>
				<dd><h2 class="orange Fb">{wc:fun:lang::get_lang('恭喜您，支付成功！请等待系统为您揭晓！')}</h2>
					<p>{wc:fun:lang::get_lang('您现在可以')}&nbsp&nbsp&nbsp<a style="color: #f60;font-size: 14px;" href="{WEB_PATH}/member/home/userbuylist" class="blue">{wc:fun:lang::get_lang('查看乐购记录')}</a>&nbsp&nbsp&nbsp{wc:fun:lang::get_lang('或')}&nbsp&nbsp&nbsp<a style="color: #f60;font-size: 14px;" href="{WEB_PATH}" class="blue">{wc:fun:lang::get_lang('继续购物')}</a></p>
					<!-- <p>{wc:fun:lang::get_lang('总共成功乐购')}1{wc:fun:lang::get_lang('件商品，信息如下：')}</p> -->
				</dd>
			</dl>
			</div>
			<!--
			<div class="wait_listCon">
			<ul>
				<li class="wait_Ltit">
					<span class="wait_Cw01">{wc:fun:lang::get_lang('购买时间')}</span>
					<span class="wait_Cw02">{wc:fun:lang::get_lang('商品名称')}</span>
					<span class="wait_Cw03">{wc:fun:lang::get_lang('乐购人次')}</span>
					<span class="wait_Cw04">{wc:fun:lang::get_lang('乐购编码')}</span>
				</li>
              
				<li class="wait_Lodity">
					<span class="wait_Cw01"></span>
					<span class="wait_Cw02"><a href="{WEB_PATH}home/index/item" class="blue">({wc:fun:lang::get_lang('第')}6{wc:fun:lang::get_lang('期')}){wc:fun:lang::get_lang('苹果（')}Apple{wc:fun:lang::get_lang('）')}iPhone 5 32G{wc:fun:lang::get_lang('智能手机')}</a></span>
					<span class="wait_Cw03">1</span>
					<span class="wait_Cw04"><b>10002561</b></span>
				</li>
                
			</ul>
			</div>
			-->
		</div>
</div>
<!--footer {wc:fun:lang::get_lang('开始')}-->
{wc:templates "index","footer"}