<div style="clear: both"></div>
<div class="footer mt20">
	<div class="footer_center w1200">
		<div class="g-guide">
			{wc:if $this->_cfg['route_l'] == 'en-us'}
				{wc:getlist sql="select * from `@#_category` where `parentid`='5'"
						return="category"} 
			{wc:else}
				{wc:getlist sql="select * from `@#_category` where `parentid`='3'"
					return="category"} 
			{wc:if:end}
			

			{wc:loop $category $help}
			<dl>
				<dt>{wc:$help['name']}</dt>
				{wc:getlist sql="select * from `@#_article` where
				`cateid`='$help[cateid]'" return="article"} {wc:php:start}
				foreach($article as $art){ echo "
				<dd>
					<a href='".WEB_PATH.'/help/'.$art['id']."' target='_blank'>".$art['title'].'</a>
				</dd>
				';} {wc:php:end}
			</dl>
			{wc:loop:end} {wc:getlist:end}
		</div>

		<div class="g-special">
			<ul>
				<li><a> <em class="u-spc-icon1"></em> <span>100% {wc:fun:lang::get_lang('公平公正')}</span>
						{wc:fun:lang::get_lang('参与过程公开透明')}
				</a></li>
				<li><a> <em class="u-spc-icon2"></em> <span>100% {wc:fun:lang::get_lang('正品保证')}</span>
						{wc:fun:lang::get_lang('精心挑选优质商家')}100% {wc:fun:lang::get_lang('品牌正品')}
				</a></li>
				<li><a> <em class="u-spc-icon3"></em> <span>{wc:fun:lang::get_lang('全国免运费')}</span>
						{wc:fun:lang::get_lang('全场商品全国包邮')}
				</a></li>
			</ul>
		</div>
	</div>
	<div class="g-copyrightCon">
		<div class="w1190">
			<div class="g-links">
				{wc:fun:Getheader('foot')}
				
			</div>
			<div style="display: none;">
				<script
					src="https://s19.cnzz.com/z_stat.php?id=1266470257&web_id=1266470257"
					language="JavaScript"></script>
			</div>
			<div class="g-copyright">
				{wc:fun:_cfg('web_copyright')}<br />
			</div>

		</div>
	</div>
</div>
<style>
#top_div {
	display: none;
}
</style>

<script type="text/javascript">


function MM_over(mmObj) {
	var mSubObj = mmObj.getElementsByTagName("div")[0];
	mSubObj.style.display = "block";
	mSubObj.style.backgroundColor = "#9f948d";
}
function MM_out(mmObj) {
	var mSubObj = mmObj.getElementsByTagName("div")[0];
	mSubObj.style.display = "none";
	
}


function guanbi3(){
var display=$("#MaCenter1").css("display");
	if(display=="block"){
		$("#MaCenter1").css("display","none");
	}else{
		$("#MaCenter1").css("display","block");
	};
}
$(function(){	
	$(".guanbi3").click(guanbi3);
});



	$(".weixinload").click(function(){
		$(".yun_mobile").fadeIn();
	})
	$(".yun_close").click(function(){
		$(".yun_mobile").fadeOut();
	})
	
	
</script>

<script>
/*
$("#divRighTool").show(); 
var wids=($(window).width()-1200)/2-70;
if(wids>0){
	$("#divRighTool").css("right",wids);
}else{
	$("#divRighTool").css("right",10);
}
*/
$(function(){
	$("#btnGotoTop").click(function(){
		$("html,body").animate({scrollTop:0},1500);
	});
	$("#btnFavorite,#addSiteFavorite").click(function(){
		var ctrl=(navigator.userAgent.toLowerCase()).indexOf('mac')!=-1?'Command/Cmd': 'CTRL';
		if(document.all){
			window.external.addFavorite('{G_WEB_PATH}','{wc:fun:_cfg("web_name")}');
		}
		else if(window.sidebar){
		   window.sidebar.addPanel('{wc:fun:_cfg("web_name")}','{WEB_PATH}', "");
		}else{ 
			alert('{wc:fun:lang::get_lang("您可以通过快捷键")}' + ctrl + ' + D {wc:fun:lang::get_lang("加入到收藏夹")}');
		}
    });
    /*
	$("#divRighTool a").hover(		
		function(){
			$(this).addClass("Current");
		},
		function(){
			$(this).removeClass("Current");
		}
	)
	*/
});
</script>

<script id="-mob-share"
	src="http://f1.webshare.mob.com/code/mob-share.js?appkey=21f30d1b7ccb5"></script>
<script>
mobShare.config( {
    debug: false, 
    appkey: '21f30d1b7ccb5', // appkey
    params: window.shareParams,
} );




<!-- Start of LiveChat (www.livechatinc.com) code -->


var LC_API = LC_API || {};
LC_API.on_after_load = function() {
  
};

/* 
window.__lc = window.__lc || {};


window.__lc.license = 9174730;


window.__lc.chat_between_groups = false;


window.__lc.ga_version = 'ga';


window.__lc.visitor = {
  name: 'Joe Public',
  email: 'joe.public@gmail.com'
};

(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})(); */




window.__lc = window.__lc || {};
window.__lc.license = 9319575;
(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();


<!-- End of LiveChat code -->



</script>
</body>
</html>