{wc:templates "index","header"}
<style>
.busytime i{
	color: #fff;
	font-size: 15px;
	line-height: 30px;
	background: #ca1b38;
	border-radius: 3px;
	padding: 5px;
}
.b_pink span.shi {
width: 75px;
height: 20px;
float: left;
font-size: 16px;
font-weight: bold;
color: #ca1b38;
font-family: "宋体";
}
</style>
<div class="wrap w1200"style="overflow:hidden;margin-top:5px;">
<div class="Current_nav"><a href="{WEB_PATH}">首页</a> &gt; 最新揭晓</div>
<!--开奖列表开始-->

<div class="Newpublish">
	<div class="W-left fl" style="padding:0;width: 100%;">
		<div id="current" class="publish_Curtit">
			<h1 class="fl c_red">最新揭晓</h1>
			<span id="spTotalCount" style="width: 300px;float: left;">(到目前为止共揭晓商品<em class="orange" style="color: #f60;">{wc:$total}</em>件)</span>
			{wc:if $total>$num}
					<div class="pagesx" style="margin: 5px 0;">{wc:page:two}</div>
			{wc:if:end}
		</div>
		<div class="publishBor">
			<div class="publishCen" id="listDivTitle" style="width: 100%;">
				<!-- <ul id="ProductList"> -->
				<ul id="b_pink">
					<style>
						.publishCen li{border: 1px solid #e4e4e4;}
					</style>
					{wc:loop $shopqishu $qishu}
                    {wc:php:start}
                    	$qishu['q_user'] = unserialize($qishu['q_user']);
                    {wc:php:end}
                    {wc:getlist sql="select * from `@#_member` where `uid`=$qishu[q_uid]" return="tiezi"}
                    {wc:loop $tiezi $tz}
					<li class="Cursor b_pink" style="position: relative;">
						<a class="fl goodsimg" href="{WEB_PATH}/dataserver/{wc:$qishu['id']}" target="_blank" >
						<img alt="" src="{G_UPLOAD_PATH}/{wc:$qishu['thumb']}">
						</a>
						<div class="publishC-Member gray02"><a style="position: absolute;right: 2px;top: 2px;" class="fl headimg" href="{WEB_PATH}/uname/{wc:fun:idjia($qishu['q_uid'])}" target="_blank" >
							
							<img style="border-radius: 50px;" id="imgUserPhoto" src="{wc:if $tz['img']!='photo/member.jpg'}
								{G_UPLOAD_PATH}/{wc:$tz['img']}
							{wc:elseif $tz['headimg']!=''}
								{wc:$tz['headimg']}
							{wc:else}
								{G_UPLOAD_PATH}/{wc:$tz['img']}
							{wc:if:end}" width="50" height="50" border="0"/>
							
							</a>
							<p style="margin-left: 0px;width: 195px;">获得者：<a class="blue Fb" href="{WEB_PATH}/uname/{wc:fun:idjia($qishu['q_uid'])}" target="_blank">{wc:fun:get_user_name($qishu['q_user'])}</a></p>
							<p style="margin-left: 0px;width: auto;">OneShop：<em class="c_red Fb">{wc:fun:get_user_goods_num($qishu['q_uid'],$qishu['id'])}</em>人次</p>					
						</div>
						<div class="publishC-tit">
							<h3><a href="{WEB_PATH}/dataserver/{wc:$qishu['id']}" target="_blank" class="gray01">(第{wc:$qishu['qishu']}期){wc:$qishu['title']}</a></h3>
							<p style="margin-bottom: 5px;" class="money">商品价值：<span class="rmb">{wc:$qishu['money']}</span></p>
							<p class="Announced-time gray02">揭晓时间：{wc:fun:microt($qishu['q_end_time'],'r')}</p>
						</div>
						<div class="details bg_pink">
							<p class="fl details-Code">幸运OneShop码：<em class="c_red Fb">{wc:$qishu['q_user_code']}</em></p>
							<a class="fl details-A c_red" href="{WEB_PATH}/dataserver/{wc:$qishu['id']}" rel="nofollow" target="_blank">查看详情</a>
							
						</div>
					</li>	
					{wc:loop:end}
					{wc:loop:end}
				</ul>
			</div>
			{wc:if $total>$num}
					<div class="pagesx">{wc:page:two}</div>
			{wc:if:end}
		</div>
	</div>
	
	<div class="clear"></div>
</div>
	</div>
<script type="text/javascript">
	$(".yu_ff").mouseover(function(){
	  $(".h_1yyg_eject").show();
	})
	$(".yu_ff").mouseout(function(){
	  $(".h_1yyg_eject").hide();
	})

		     $("#m_all_sort").hide();
	     $(".m_menu_all").mouseenter(function(){
			    $(".m_all_sort").show();
	     })
		 $(".m_menu_all").mouseleave(function(){
			    $(".m_all_sort").hide();
	     })
		 $(".m_all_sort").mouseenter(function(){
			    $(this).show();
	     })
		 $(".m_all_sort").mouseleave(function(){
			    $(this).hide();
	     })
	     $(function(){
	       $(window).scroll(function() {	
	      		
	     		if($(window).scrollTop()>=130&&$(window).scrollTop()<=560){
	     			$(".head_nav").addClass("fixedNav");	
	     			$("#m_all_sort").fadeOut();
	     		}else if($(window).scrollTop()>560){
	     			$(".head_nav").addClass("fixedNav");
	     			$("#m_all_sort").fadeOut();
	     	} else if($(window).scrollTop()<130){
	     			$(".head_nav").removeClass("fixedNav");
	     	}
	           });
	     });
</script>
{wc:templates "index","footer"}