{wc:templates "index","header"}
<div class="main-content clearfix">
{wc:templates "member","left"}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/user.message.css"/>
<link href="{G_TEMPLATES_JS}style.css" rel="stylesheet" type="text/css" />
<link href="{G_TEMPLATES_JS}demo.css" rel="stylesheet" type="text/css" />
{wc:if $this->_cfg['route_l'] == 'en-us'}
<script src="{G_TEMPLATES_JS}/en-us.js" language="javascript" type="text/javascript"></script> 
{wc:else}
<script src="{G_TEMPLATES_JS}/zh-cn.js" language="javascript" type="text/javascript"></script> 
{wc:if:end}
<script type="text/javascript" src="{G_TEMPLATES_JS}jquery.Validform.min.js"></script>
<script type="text/javascript">
$(function(){		
	var demo=$(".tel_verification").Validform({
		tiptype:3,		
	});
})
</script>
<div class="R-content">
	<div class="member-t" style="border-bottom: 1px solid #dfdfdf;"><h2>QQ{wc:fun:lang::get_lang('绑定')}</h2><a href="javascript:history.go(-1);" class="blue">&lt;&lt; {wc:fun:lang::get_lang('返回')}</a></div>
	<div class="tel_verification">
		<div class="prompt orange" style="float: none;">{wc:fun:lang::get_lang('请完成')}QQ{wc:fun:lang::get_lang('绑定，')}QQ{wc:fun:lang::get_lang('绑定可以方便您快速登录！')}<em></em></div>
		<form method="post" action="{wc:WEB_PATH}/member/home/mobilesuccess">
		<div class="oauth-list" id="divSend" style="display: block; padding-top:20px;">
			<a href="{WEB_PATH}/api/qqlogin/" style="display: block;">
			<img src="{G_TEMPLATES_IMAGE}/qq.png" />
			</a>
		<div class="Validform_checktip"></div>
		</div>
		</form>		
	</div>
</div>
		
</div>
{wc:templates "index","footer"}