{wc:templates "index","header"}
<div class="main-content clearfix">
{wc:templates "member","left"}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/user.message.css"/>
<link href="{G_TEMPLATES_STYLE}/js/style.css" rel="stylesheet" type="text/css" />
<link href="{G_TEMPLATES_STYLE}/js/demo.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{G_TEMPLATES_STYLE}/js/jquery.Validform.min.js"></script>
<script type="text/javascript">
$(function(){		
	var demo=$(".tel_verification").Validform({
		tiptype:3,		
	});
})
</script>
<div class="R-content">
	<div class="member-t" style="border-bottom: 1px solid #dfdfdf;"><h2>Facebook绑定</h2><a href="javascript:history.go(-1);" class="blue">&lt;&lt; 返回</a></div>
	<div class="tel_verification">
		<div class="prompt orange" style="float: none;">请完成Facebook绑定，Facebook绑定可以方便您快速登录！<em></em></div>
		<form method="post" action="{wc:WEB_PATH}/member/home/mobilesuccess">
		<div class="oauth-list" id="divSend" style="display: block; padding-top:20px;">
			<a href="{WEB_PATH}/api/facebooklogin" style="border-radius:6px; padding:10px 10px 10px 60px;  color:#fff; font-size:18px; background:#3d589b url({G_TEMPLATES_STYLE}/images/facebook_icon.png) no-repeat 10px center; background-size: auto 70%; ">FaceBook登录
			</a>
		<div class="Validform_checktip"></div>
		</div>
		</form>		
	</div>
</div>
		
</div>
{wc:templates "index","footer"}