{wc:templates "index","header"}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/qq.css"/>

<div class="help-main">
	<div class="qqGroup">
		<div class="qqTitle">

			<span class="groupt">1Shop<b>QQ</b>群</span>
			<span>为打造更具公平、透明的1Shop平台，{wc:fun:_cfg("web_name")}特成立各地QQ交流群（可在选择框查找本地群），欢迎广大用户加入。<br>另外，1Shop正在招募各地群主加盟，也可自建群，具体待遇和要求请咨询QQ:{wc:fun:_cfg("qq")}</span>
		</div>		
		<div id="listContents" class="qqList">
			<ul>
            	<!--			
				<li>
					<dt><img border="0" src=""></dt>
					<dt>xxxx-{wc:fun:lang::get_lang('群')}1</dt><dd>12323</dd>
				</li>
                -->
			</ul>
		</div>
	</div>
</div>
{wc:templates "index","footer"}