{wc:templates "index","header"}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/user.message.css"/>
<link href="{G_TEMPLATES_JS}style.css" rel="stylesheet" type="text/css" />
<link href="{G_TEMPLATES_JS}demo.css" rel="stylesheet" type="text/css" />
{wc:if $this->_cfg['route_l'] == 'en-us'}
<script src="{G_TEMPLATES_JS}/en-us.js" language="javascript" type="text/javascript"></script> 
{wc:else}
<script src="{G_TEMPLATES_JS}/zh-cn.js" language="javascript" type="text/javascript"></script> 
{wc:if:end}
<script type="text/javascript" src="{G_TEMPLATES_JS}jquery.Validform.min.js"></script>
<script type="text/javascript" src="{G_TEMPLATES_JS}passwordStrength-min.js"></script>
<script type="text/javascript">
$(function(){		
	var demo=$(".login_ConInput").Validform({
		tiptype:2,
		usePlugin:{
			passwordstrength:{
				minLen:6,
				maxLen:20,
				trigger:function(obj,error){
					if(error){
						obj.parent().next().find(".Validform_checktip").show();
						obj.parent().next().find(".passwordStrength").hide();
					}else{
						obj.parent().next().find(".Validform_checktip").hide();
						obj.parent().next().find(".passwordStrength").show();	
					}
				}
			}
		}

	});	
})

</script>
<script>
	$(function(){
		$("#checkcode").attr("data",$("#checkcode").attr("src"));
		$("#checkcode").click(function(){
		$(this).attr("src",$(this).attr("data")+"&="+new Date().getTime());
	});
})
</script>
<div class="login_layout" style="width:1200px;">
	<div class="login_title">
		<h2>{wc:fun:lang::get_lang('新用户注册')}</h2>
		<ul class="login_process">
			<li class="login_processCur"><b>1</b>{wc:fun:lang::get_lang('填写注册信息')}</li>
			<li class="login_arrow"></li>
			<li><b>2</b>{wc:fun:lang::get_lang('验证邮箱')}</li>
			<li class="login_arrow"></li>
			<li><b>3</b>{wc:fun:lang::get_lang('完成注册')}</li>
		</ul>
		<span>{wc:fun:lang::get_lang('已经是会员')}<a id="hylinkLoginPage" class="blue Fb" href="{WEB_PATH}/member/user/login">{wc:fun:lang::get_lang('登录')}</a></span>
	</div>
	<div class="login_ConInput registerform" style="float: left;">
		<form method="post" action="" enctype="application/x-www-form-urlencoded">
		<dl>
			<dd class="zhanghao"><input id="ipyanz" datatype="m | e" sucmsg="{wc:fun:lang::get_lang('帐号验证通过')}" nullmsg="{wc:fun:lang::get_lang('请填写帐号')}" placeholder="{wc:fun:lang::get_lang('邮箱地址')}" type="text" name="name" class="inputxt" /><b class="passport-icon"></b></dd>
			<dd><div style="margin:7px 0 0 10px;" class="Validform_checktip"></div></dd>
		</dl>
		<dl>
			<dd class="mima"><input id="mima" datatype="*6-20" plugin="passwordStrength" nullmsg="{wc:fun:lang::get_lang('请设置密码')}" placeholder="{wc:fun:lang::get_lang('密码')}6-20{wc:fun:lang::get_lang('字母或数字')}" type="password" name="userpassword" class="inputxt" maxlength="20"/><b style="top:31px;height: 20px;background-position: 0 -25px;" class="passport-icon"></b></dd>
			<dd>
				<div style="margin:7px 0 0 10px;" class="Validform_checktip"></div>
				<div class="passwordStrength" style="display:none;"><b style="margin:0 0 0 8px;">{wc:fun:lang::get_lang('密码强度：')}</b> <span>{wc:fun:lang::get_lang('弱')}</span><span>{wc:fun:lang::get_lang('中')}</span><span class="last">{wc:fun:lang::get_lang('强')}</span></div>
			</dd>
		</dl>
		<dl>
			<dd class="mima"><input id="mima" tip="test"  datatype="*" recheck="userpassword" nullmsg="{wc:fun:lang::get_lang('请再输入一次密码')}" errormsg="{wc:fun:lang::get_lang('您两次输入的账号密码不一致')}" placeholder="{wc:fun:lang::get_lang('确认输入密码')}" type="password" name="userpassword2" class="inputxt" maxlength="20"/><b style="top:31px;height: 20px;background-position: 0 -25px;" class="passport-icon"></b></dd>
			<dd><div style="margin:7px 0 0 10px;" class="Validform_checktip"></div></dd>
		</dl>
		<dl>
				 <dd class="yanzheng"><input id="yanzheng" type="text" ajaxurl="{WEB_PATH}/member/user/codeCheck"  datatype="*4-6" nullmsg="{wc:fun:lang::get_lang('请输入验证码')}" errormsg="{wc:fun:lang::get_lang('请输入正确的验证码')}" placeholder="{wc:fun:lang::get_lang('验证码')}" ajaxurl="{WEB_PATH}/member/user/codeCheck"   class="inputxt" name="captcha" type="text" /></dd>
				     <span class="fog"><img id="checkcode" src="{WEB_PATH}/api/checkcode/image/80_27/"/></span>
				 </dl>
		<div class="login_Membut">			
			<input name="submit" type="submit" class="Mem_orangebut" value="{wc:fun:lang::get_lang('同意以下协议提交')}">
		</div>
		</form>
	</div>
	<div class="Service_Agreement" style="width:1100px;">    
	    <h2>{wc:$article['title']}</h2>
	  	<div>
	  		 {wc:$article['content']}
	  	</div>
    </div>
</div>
<script type="text/javascript">
	$(".yu_ff").mouseover(function(){
	  $(".h_1yyg_eject").show();
	})
	$(".yu_ff").mouseout(function(){
	  $(".h_1yyg_eject").hide();
	})

		     $("#m_all_sort").hide();
	     $(".m_menu_all").mouseenter(function(){
			    $(".m_all_sort").show();
	     })
		 $(".m_menu_all").mouseleave(function(){
			    $(".m_all_sort").hide();
	     })
		 $(".m_all_sort").mouseenter(function(){
			    $(this).show();
	     })
		 $(".m_all_sort").mouseleave(function(){
			    $(this).hide();
	     })
	     $(function(){
	       $(window).scroll(function() {	
	      		
	     		if($(window).scrollTop()>=130&&$(window).scrollTop()<=560){
	     			$(".head_nav").addClass("fixedNav");	
	     			$("#m_all_sort").fadeOut();
	     		}else if($(window).scrollTop()>560){
	     			$(".head_nav").addClass("fixedNav");
	     			$("#m_all_sort").fadeOut();
	     	} else if($(window).scrollTop()<130){
	     			$(".head_nav").removeClass("fixedNav");
	     	}
	           });
	     });
</script>
{wc:templates "index","footer"}