<style type="text/css">
	.m_menu .m_all_sort{
		display: none;
	}
</style>
{wc:templates "index","header"}
<link href="{G_TEMPLATES_STYLE}/js/style.css" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="{G_TEMPLATES_STYLE}/js/demo.css">
<script type="text/javascript" src="{G_TEMPLATES_STYLE}/js/jquery.Validform.min.js
{wc:if $this->_cfg['route_l'] == 'en-us'}
<script src="{G_TEMPLATES_JS}/en-us.js" language="javascript" type="text/javascript"></script> 
{wc:else}
<script src="{G_TEMPLATES_JS}/zh-cn.js" language="javascript" type="text/javascript"></script> 
{wc:if:end}"></script>
<script type="text/javascript" src="{G_TEMPLATES_STYLE}/js/passwordStrength-min.js"></script>
<script type="text/javascript">
$(function(){		
	var demo=$(".registerform").Validform({
		tiptype:2,
		usePlugin:{
			passwordstrength:{
				minLen:6,
				maxLen:20
			}
		}		
	});
})
</script>
<style>
#passqiang{ padding:0 0 0 140px; color:#777;}
#passqiang span{width:41px;}
</style>
<div class="login_layout">
	<div class="login_title">
		<h2>{wc:fun:lang::get_lang('设置密码')}</h2>
	</div>
	<div class="login_ConInput login_Ptxtf14" style="height: 320px;margin:0;">
	<form class="registerform" method="post" action="{WEB_PATH}/member/finduser/resetpassword" style="float: none;margin:0 auto;padding-left: 230;padding-top: 50;">

    <input name="hidKey" type="hidden" id="hidKey" value="{wc:$key}">
		<p class="Ptxt_F14">{wc:fun:lang::get_lang('请重新设置您的登录密码，您的帐号是：')}<span class="orange Fb">{wc:$checkcode[0]}</span></p>
		<dl>
			<dt>{wc:fun:lang::get_lang('密码：')}</dt>
			<dd><input name="userpassword" plugin="passwordStrength" datatype="*6-20" nullmsg="{wc:fun:lang::get_lang('密码不能为空！')}" errormsg="{wc:fun:lang::get_lang('密码范围在')}6~20{wc:fun:lang::get_lang('位之间！')}"  type="password" class="login_input_text" maxlength="20"></dd>
			<dd><div class="Validform_checktip">{wc:fun:lang::get_lang('请输入密码')}</div></dd>
		</dl>
		<dl style="height:35px;">
			<dd><div id="passqiang" class="passwordStrength"><i style="float:left;">{wc:fun:lang::get_lang('密码强度：')}</i><span>{wc:fun:lang::get_lang('弱')}</span><span>{wc:fun:lang::get_lang('中')}</span><span class="last">{wc:fun:lang::get_lang('强')}</span></div></dd>
		</dl>
		<dl>
			<dt>{wc:fun:lang::get_lang('确认密码：')}</dt>
			<dd><input name="userpassword2" recheck="userpassword" sucmsg=" " datatype="*6-20" nullmsg="{wc:fun:lang::get_lang('请再输入一次密码！')}" errormsg="{wc:fun:lang::get_lang('您两次输入的账号密码不一致！')}" id="NewPassAgain" type="password" class="login_input_text" maxlength="20"></dd>
			<dd><div class="Validform_checktip">{wc:fun:lang::get_lang('请再输入一次密码！')}</div></dd>
		</dl>
		<div class="login_Membut">
			<input style="height: 30px;padding: 0px;text-indent: 0px;color: #fff;margin-left: 120px;" type="submit" name="submit" class="login_Email_but" value="{wc:fun:lang::get_lang('确认修改')}" />
		</div>
	</form>
	</div>
</div>
{wc:templates "index","footer"}