<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{wc:fun:lang::get_lang('登录')}-{wc:fun:_cfg("web_name")}</title>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/comm.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/index.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/color.css"/>
<script type="text/javascript" src="{G_TEMPLATES_STYLE}/js/JQuery.js"></script>
<link href="{G_TEMPLATES_STYLE}/js/style.css" rel="stylesheet" type="text/css" />
<link href="{G_TEMPLATES_STYLE}/js/demo.css" rel="stylesheet" type="text/css" />
{wc:if $this->_cfg['route_l'] == 'en-us'}
<script src="{G_TEMPLATES_JS}/en-us.js" language="javascript" type="text/javascript"></script> 
{wc:else}
<script src="{G_TEMPLATES_JS}/zh-cn.js" language="javascript" type="text/javascript"></script> 
{wc:if:end}
<script type="text/javascript" src="{G_TEMPLATES_STYLE}/js/jquery.Validform.min.js"></script>
</head>
<body style="background: #fff;">



 <script type="text/javascript">
$(function(){		
	var demo=$(".registerform").Validform({
		tiptype:2,
	});	
})
</script>
<div class="login">

	<div class="login_header">
		<div class="login_top">
			<h1><a rel="nofollow" href="{WEB_PATH}"><img src="{G_UPLOAD_PATH}/{wc:fun:Getlogo()}"></a></h1>
			<p><a rel="nofollow" href="{WEB_PATH}" class="back_home">{wc:fun:lang::get_lang('返回首页')}</a><a href="{WEB_PATH}/help/1" target="_blank" class="help">{wc:fun:lang::get_lang('帮助中心')}</a></p>
		</div>
	</div>
	<div class="login_bg">
	
		<div class="login_box" id="LoginForm">
		<div class="login_box_guding">
		<div class="login_box_guding1"></div>
		<form class="registerform" method="post" action="">
			<h3><span style="display:block;float: left;">{wc:fun:lang::get_lang('用户登录')}</span><a id="hylinkRegisterPage" style="padding:0px 10px;display: block;float: right;font-size: 16px;color: #f60;" tabindex="4" class="reg" href="{WEB_PATH}/register">{wc:fun:lang::get_lang('免费注册')}>></a></h3>
			<ul>				
				<li class="click">
					<input style="color: #666;" placeholder="{wc:fun:lang::get_lang('邮箱地址')}" class="text_password" name="username" type="text"  />
					<b class="passport-icon"></b>
				</li>
				<li class="click1">				
					<input style="color: #666;" class="text_password" name="password" type="password" placeholder="{wc:fun:lang::get_lang('密码')}" />
					<b class="passport-icon" style="top:31px;height: 20px;background-position: 0 -25px;"></b>
				</li>
				<li class="fog" style="height: 25px;line-height: 25px;text-align:right;width: 300px;"><a href="{WEB_PATH}/member/finduser/findpassword">{wc:fun:lang::get_lang('忘记密码')}</a></li> 								
				</li>
				 <li class="yanzheng">
				     <input style="color: #666;" class="text_verify" ajaxurl="{WEB_PATH}/member/user/codeCheck"
				            name="captcha" type="text" />
				     <span class="fog"><img id="checkcode" src="{WEB_PATH}/api/checkcode/image/80_27/"/></span>
				 </li>
	
				<li class="end">
				<span><input name="submit" type="submit" value="{wc:fun:lang::get_lang('登录')}" class="login_init" ></span>
				 

				</li>

			<div style="height: 40px;"></div>
			</ul>
			{wc:php:start}
				$conn_cfg = System::load_app_config("connect",'','api');
            {wc:php:end}
            {wc:if $conn_cfg['qq']['off'] or $conn_cfg['weixinpc']['off'] or $conn_cfg['facebook']['off']}
 			<div class="loginQQ">
 				<span id="qq_login_btn">
 					{wc:fun:lang::get_lang('使用其它方式快捷登录')}
 				</span>
 				{wc:if $conn_cfg['facebook']['off']}<a class="facebookdenglu" style="background:#3d589b url({G_TEMPLATES_STYLE}/images/facebook_icon.png) no-repeat 5px center; padding-left:26px; background-size: auto 70%;" href="{WEB_PATH}/api/facebooklogin/"><b></b>FaceBook</a>{wc:if:end}
 			</div>

            {wc:if:end}			
			<input value="{G_HTTP_REFERER}" name="hidurl" type="hidden">
		</form>
	</div>
		</div>
	</div>
</div>
<div class="g-copyrightCon" style="padding-top: 50px;">
	<div class="w1190">
		<div class="g-links">
			<a href="{WEB_PATH}">{wc:fun:lang::get_lang('首页')}</a>
			<s></s>
				{wc:fun:Getheader('foot')}
  		</div>
  		<div class="g-copyright">{wc:fun:_cfg("web_copyright")}</div>
	</div>
</div>

<script type="text/javascript">

$("#registerform").Validform({
		tiptype:function(msg,o,cssctl){
			
			if(!o.obj.is("form")){
				var objtip=o.obj.parent().next().find(".Validform_checktip");
				cssctl(objtip,o.type);
              		  if(o.type==3){
                   			 $("#checkcode").click();
              		}
		objtip.text(msg);
			}else{
				var objtip=o.obj.find("#msgdemo");
				cssctl(objtip,o.type);
				objtip.text(msg);
			}
		},
		callback:function(data){
			if(data.status == -1){
				alert(data.msg);
			}else{
				window.location.href='{WEB_PATH}/member/home/userindex';
			}
		},
		ajaxPost:true
});

$("#checkcode").attr("data",$("#checkcode").attr("src"));
$("#checkcode").click(function(){
	$(this).attr("src",$(this).attr("data")+"&="+new Date().getTime());
});
</script>
</body>
</html>